@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center sticky ">
    <div class="rouge float-child">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  </div>
    <div class="rouge float-child">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>

<div>
    <div class="float-child text-center rouge">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="float-child text-center rouge">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>

<div class="text-center">
    <h1 class="rouge">1</h1>
    <p>Learn about</p>
</div>

<div class="text-center">
    <h1 class="rouge">Oui</h1>
    <p>Learn about</p>
</div>
<div class="text-center">
    <h1 class="rouge">Oui</h1>
    <p>Learn about</p>
</div>
<div class="text-center">
   